{{#if falha}}
{{{falha}}}
{{/if}}

<div class="box-label-page">
    <h1>Criação de Usuário</h1>


</div>

{{#if majors}}
<form class="form" action="/user/create" method="post">

    <div class="mb-3">
        <label for="fullname" class="form-label">Fullname</label>
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Pedro Henrique Barros Mendonça">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="pedro.brrs.mendonca@gmail.com">
    </div>
    <div class="mb-3">
        <label for="majorId" class="form-label">Curso</label>
        <select id="majorId" name="majorId" class="form-select" aria-label="Selecione o curso">
            {{{listMajorsToUser majors}}}
        </select>
    </div>

    <button class="btn btn-outline-secondary" type="submit">Criar</button>
</form>
{{/if}}


